body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  width: 100%;
}

button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

li.completed {
  background-color: #f2f2f2;
}

li input[type="text"] {
  font-size: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

footer {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button#delete-completed {
  background-color: #ff5722;
  color: #fff;
}

button#change-theme {
  background-color: #4CAF50;
  color: #fff;
}
